.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tic-tac {
width: 240px;
height: 240px;
border: 2px solid black;
margin: 50px auto;

}
.ttt {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  font-size: 50px;
  padding: 10px;
}
.newGame {
  width: 240px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}